<div class="modal-backdrop" (click)="close()"></div>

<div class="modal-content">
  <h2>Liquidate Task</h2>
  <p class="text-info">⚠️Warning: This might incure to 50 percent service  charge!</p>
  <div class="fieldset">
			<div class="form">
				<form id="Form" (ngSubmit)="handleSubmit()"  [formGroup]="Form" novalidate="novalidate">

					<div class="form__row">
            <!-- <label for="reason">Why do you want to</label> -->
            <textarea formControlName='reason' name="reason" class="form__textarea " placeholder="Give a reason for your task liquidation" required></textarea>
					</div>

          <!-- <input type="hidde" name="action" value="submit_payment_proof"> -->

					<div class="form__row mt-20">
						<input *ngIf="!loading" type="submit" name="submit" class="form__submit button button--green button--full" id="submit" value="SUBMIT" [disabled]='!Form.valid'>
						<label *ngIf='loading' id="loader" style="display:;"><div id="loader-animation"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></label>
					</div>
				</form>
			</div>
		</div>
    <mat-dialog-actions >
      <button mat-raised-button  mat-button mat-dialog-close (click)="close()">Close</button>
      <!-- <button matButton mat-dialog-close cdkFocusInitial>Ok</button> -->
    </mat-dialog-actions>
  <!-- <button (click)="close()">Close</button> -->
</div>
