<div class="page page--login" data-page="login">

	<!-- HEADER -->
	<header class="header header--fixed">
		<div class="header__inner">
			<div  (click)='history.back()' class="header__icon">
        <span><img src="../assets/images/icons/gray/arrow-back.svg" alt="" title=""> </span>
      </div>

			<div id="google_translate_element" class="custom-google-select "></div>

			<div (click)="navigate('/')" style="justify-content:flex-end;display:flex" class="logo">
				<img style='width:40%' src="assets/logo.png" alt="">
			</div>

    </div>

	</header>

        <div class="login mb-10">
		<div class="login__content">
			<!-- <div id="google_translate_element" class="custom-google-select ">Language</div> -->

			<h2 class="login__title">Reset Password</h2>
				<div class="login-form ">
					<form (ngSubmit)="handleSubmit()" [formGroup]="Form"  novalidate="novalidate">
						<div class="login-form__row">
							<label class="login-form__label">Email Address</label>
							<input type="email"  formControlName='email' name="email" value="" class="login-form__input required" required >
						</div>

						<div class="login-form__row">
							<input *ngIf="!loading; else elseBlock" type="submit" name="submit" class="login-form__submit button button--blue button--full" id="submit" value="Reset" [disabled]="!Form.valid">
							<ng-template #elseBlock>
								<input class="login-form__submit button button--blue button--full is-loading" value="waiting ...">
							</ng-template>
						</div>
					</form>
          <!-- <div class="login-form__forgot-pass"><a routerLink="/login">LOGIN</a></div> -->


				</div>
		</div>
        </div>

</div>
