.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: #111115;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 999;
  box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.1);

  span{
    font-size: 10px;
  }
}

.bottom-nav a {
  flex: 1;
  background: none;
  border: none;
  outline: none;
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #666;
  cursor: pointer;
}

.bottom-nav a .mat-icon {
  font-size: 24px;
}

.bottom-nav a.active {
  color: #27c067;
  font-weight: bold;
}

.bottom-nav a.active .mat-icon {
  color: #27c067;
}
