.wheel-container {
  width: 100%;
  max-width: 400px;
  margin: 40px auto;
  text-align: center;
  position: relative;
}

.wheel {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1; /* Maintain circular shape */
  border: 6px solid #444;
  border-radius: 50%;
  margin: 0 auto;
  transition: transform 4s cubic-bezier(0.33, 1, 0.68, 1);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  overflow: hidden;
}

.segment {
  position: absolute;
  width: 50%;
  height: 50%;
  background: #f0c419;
  transform-origin: 100% 100%;
  clip-path: polygon(0 0, 100% 0, 100% 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #222;

  font-weight: bold;
  font-size: 1.2rem;
  /* padding-left: 10%; */
}

.segment:nth-child(even) {
  background: #f08a24;
}

span.seg-text {
  padding-left: 25%;
  margin-bottom: 32%;
  margin-left: 21%;
}

.pointer {
  font-size: 2rem;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: red;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  max-width: 100%;
}

.result {
  margin-top: 15px;
  font-size: 1.2rem;
  color: green;
  font-weight: bold;
}
