<div class="modal-backdrop" (click)="close()"></div>

<div class="modal-content">
  <h2>Change Password</h2>
  <p class="text-info" *ngIf='must_reset_password'>NOTE: Use the last password sent to your email address as the old password.</p>
  <div class="fieldset">
			<div class="form">
				<form  (ngSubmit)="handleSubmit()"  [formGroup]="Form" novalidate="novalidate">
					<div class="form__row">
						<input type="text" formControlName="old_password" name="old_password" value="" class="form__input required" placeholder="Old Password" required>
					</div>
					<div class="form__row">
						<input type="text" formControlName="new_password" name="new_password" value="" class="form__input required" placeholder="New Password" required>
					</div>
          <div class="form__row">
					</div>

					<div class="form__row mt-20">
						<input *ngIf="!loading" type="submit" name="submit" class="form__submit button button--green button--full" id="submit" value="SUBMIT" [disabled]='!Form.valid'>
						<label *ngIf='loading' id="loader" style="display:;"><div id="loader-animation"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></label>
					</div>
				</form>
			</div>
		</div>
    <mat-dialog-actions >
      <button mat-raised-button  mat-button mat-dialog-close (click)="close()">Close</button>
      <!-- <button matButton mat-dialog-close cdkFocusInitial>Ok</button> -->
    </mat-dialog-actions>
  <!-- <button (click)="close()">Close</button> -->
</div>
