.dashboard {
  font-family: Arial, sans-serif;
  /* padding: 10px; */
  /* background-color: #0d0b1d; */
  color: white;
}

.stats-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.stat-card {
  background-color: #1a1a2e;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  min-width: 100px;
}

.invite-code {
  background: linear-gradient(to right, #27c067, #111115);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.invite-code .link {
  font-weight: bold;
  color: #fff;
  word-break: break-all;
}


.summary-cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.summary-card {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px;
  flex: 1 1 45%;
}

.summary-card.withdrawal{
  background:  #27c067;
  color:#fff;
}
.summary-card.deposit{
  /* background:  #111115; */
  color:#000;
}

.deposit mat-icon {
  color: #374da1;
  font-size: 36px;
}

.withdrawal mat-icon {
  color: white;
  font-size: 36px;
}

.withdrawal h3{
  color: #fff
}

.pending-users.mb-12 {
    display: flex;
    justify-content: space-between;
}

.pending-users button{
  color: #FF5722;
}
.text-p{
  margin-top: 12px;
  color: #333;
  padding-left:12px;

}
/*  */
.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tabs button {
  flex: 1;
  padding: 12px;
  background: rgba(255,255,255,0.07);
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 8px;
}

.tabs button.active {
  background: #27c067;
  /* rgba(255,255,255,0.15); */
}

.content {
  display: grid;
  gap: 15px;
}

.card {
  background: rgba(255,255,255,0.07);
  padding: 15px;
  border-radius: 10px;
}

/*  */
.section-card {
  background: white;
  padding: 18px;
  border-radius: 14px;
  margin-bottom: 18px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.08);
}

.section-title {
  font-size: 18px;
  margin-bottom: 14px;
  font-weight: 600;
  color: #333;
  border-left: 4px solid #374da1;
  padding-left: 8px;
}

.data-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.data-item {
  text-align: center;
  background: #f7f9ff;
  padding: 12px;
  border-radius: 10px;
}

.data-item label {
  font-size: 13px;
  color: #777;
}

.data-item p {
  margin: 6px 0 0;
  font-size: 18px;
  font-weight: bold;
  color: #0b56d9;
}

.group {
  border-top: 1px solid #eee;
  margin-top: 10px;
}

.group-row {
  /* display: flex; */
  /* justify-content: space-between; */
  /* padding: 10px 0; */
  margin-top: 12px;
  border-bottom: 1px solid #eee;
  font-size: 15px;
  color: #000;
}

.group-details {
  display: flex;
  justify-content: space-between;
  /* padding: 10px 0; */
  /* border-bottom: 1px solid #eee; */
  font-size: 15px;
  color: #000;
}

.group-row span:first-chid {
  color: #000;
}

.group-row span:last-child {
  font-weight: 600;
  color: #374da1;
  font-size: 12px;
}

@media (max-width: 600px) {
  .data-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.view-user{
  color: #999 !important;
  text-align: right;
  opacity: 0.6;
  margin-top:4px;
}


button {
  margin-top: 10px;
  background: white;
  color: black;
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
}
