.profile-container {
  max-width: 500px;
  margin: auto;
  padding: 2px;
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
}

.profile-header {
  margin-bottom: 30px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  border: 2px solid #ccc;
}

h2 {
  margin: 8px 0 4px;
  font-size: 1.4rem;
}

p {
  color: #666;
  margin: 0;
  font-size: 0.95rem;
}

.action-buttons {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-top: 20px;
}

.action-btn {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #f1f1f1;
  cursor: pointer;
  transition: 0.3s;
  font-size: 0.9rem;
}

.action-btn mat-icon {
  font-size: 28px;
  margin-bottom: 4px;
}

.action-btn.deposit {
  background-color: #e0f7fa;
  color: #00796b;
}

.action-btn.withdraw {
  background-color: #fbe9e7;
  color: #d84315;
}

.action-btn:hover {
  filter: brightness(0.95);
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
  font-size: 1rem;
}

.flex-title {
  font-weight: 900;
  color: #333;
  flex: 1;
}

.flex-content {
  text-align: right;
  flex: 1;
  color: #555;
}

.main-nav{
  background: #fff;
  border-radius:12px;
  /* margin-bottom:7em !important; */
}

/* .profile-container {
  text-align: center;
  margin-top: 20px;
} */

.image-wrapper {
  position: relative;
  display: inline-block;
}

.profile-img {
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ccc;
}

.camera-icon {
  /* position: absolute; */
  bottom: 0;
  right: 0;
  background-color: #ffffffcc;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  border: 1px solid #888;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  transition: background 0.2s;
}

.camera-icon:hover {
  background-color: #eee;
}
