.password-wrapper {
  position: relative;
  width: 100%;
  /* max-width: 300px; */
}

/* .password-input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
} */

.toggle-icon {
  position: absolute;
  top: 70%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
  font-size: 18px;
}

.goog-te-gadget-icon{
  background-image: '':
}

.otp-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.otp-input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
}

.resend-button {
  padding: 5px 16px;
  font-size: 10px;
  cursor: pointer;
  width: 24%;
}
