/* Make sure this loads AFTER Bootstrap's CSS */
.mat-mdc-snack-bar-container .mat-mdc-snackbar-surface {
    /* color: var(--mdc-snackbar-supporting-text-color, var(--mat-sys-inverse-on-surface)); */
    border-radius: var(--mdc-snackbar-container-shape, var(--mat-sys-corner-extra-small));
    background-color: transparent !important;
    /* position: fixed; */
    top: 0; left: 0;
    /* width: 100vw; */
    /* height: 10vh; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
    margin-top:10px;
    box-shadow: none;

}
:root {
  --mat-sys-primary: #f71f10 !important;
  --mat-sys-on-primary: #ffffff;
  --mat-sys-primary-container: #e0f2ff;
  --mat-sys-on-primary-container: #003354;
  --mat-sys-surface:#1a1b1f;
  /* rgb(22 13 35 / 90%); */
  /* Force Bootstrap’s runtime primary color */
  --bs-primary: #f71f10 !important;
  --bs-primary-rgb: 255, 87, 34;
  --bs-secondary-color:#b493d8;

  /*  */

}

/* ✅ Rebuild outline-primary button colors manually */
.btn-outline-primary {
  /* color: var(--bs-primary) !important; */
  border-color: var(--bs-primary) !important;
  background-color: var(--bs-primary) !important;

  --bs-btn-color: #d5d5d5 !important;
  /* --bs-btn-border-color: var(--text-white) !important;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--text-white) !important;
  --bs-btn-hover-border-color: var(--text-white) !important;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--text-white) !important;
  --bs-btn-active-border-color: var(--text-white) !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--text-white) !important;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--text-white) !important;
  --bs-gradient: none; */

}

.btn-outline-primary:hover,
.btn-outline-primary:focus {
  color: #fff !important;
  background-color: var(--bs-primary) !important;
  border-color: var(--bs-primary) !important;
}

.btn-outline-primary:active,
.btn-outline-primary.active {
  color: #fff !important;
  background-color: var(--bs-primary) !important;
  border-color: var(--bs-primary) !important;
}

.btn-outline-primary:disabled,
.btn-outline-primary.disabled {
  color: var(--bs-primary) !important;
  border-color: var(--bs-primary) !important;
  opacity: 0.5;
}


.snackbar-success {
  background-color: #4caf50;
  color: #fff;
}

.snackbar-error {
  background-color: #f44336;
  color: #fff;
}

.f-bold{
  font-weight: bold;
}
